.main-body {
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: Khmer-os-battambang-bold;
    src: url(font/KHMEROSBATTAMBANG-BOLD.TTF);
}
.alert-user-404-insearch {text-align: center;}
.header-con {
    text-align: center;
    color:white;
    position: relative;
    padding-top:30px;
    padding-bottom:10px;
    background-color: black;
    bottom:25px;
}
.header-title {
    display:inline-block;
    padding-left:30px;
}
.header-icon-cart {
    display:inline-block;
    float:right;
    position:relative;
    top:22px;
    right:8%;
}
#cart-icon {
    width:27px;
    cursor:pointer;
}
.searchbar-con {
    /*border: solid green;*/
    text-align: center;
}
.searchbar-con::after {
    
}
.searchbar {
    width:70%;
    height:30px;
    border-radius: 20px;
    padding:5px;
}
.search-icon {
    width:1%;
    min-width:20px;
}
.search-icon-con {
    /*border: red solid;*/
    position:absolute;
    left:78%;
    top:133px;
}
.category-section {
    /*border:solid orange;*/
    padding-left:20px;
}
.selection-con {
    /*border:palevioletred solid;*/
    display:inline-block;
    margin-left:20px;
}
.selection {
    /*border: solid blue;*/
    border-radius: 20px;;
    padding:5px;
}



.main-ul-con {
    /*border: blue;*/
}
.ul-con {
    /*border: solid purple;*/
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    flex-wrap: wrap;
}

.li-con {
    margin:10px;
    width:180px;
    min-width:180px;
    display: inline-block;
    background-color: gray;
    padding:10px;
    border-radius: 20px;
}

.img-test-con {text-align: center;}
.img-test {
    width:140px;
    height:170px;
}
#khmername-test {font-family: Khmer-os-battambang-bold;}
#name-test {}
#price-test {display: inline-block;}
.add-cart-test {
    cursor: pointer;
    position: relative;
    font-size:12px;
    margin-left:30px;
    padding:7px;
    bottom: 5px;
    border-radius: 10px;
}
.li-text {
    font-size: 20px;
    color:white;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:0;
}
.fromsearchbar-con {display:block;}


/* Cart Section */

.cart-section {
    display:none;
    width:100%;
    height:100vh;
}
.header-cart {
    height:80px;
    background-color:black;
    text-align: center;
}
.checkout-reset-property {
    float:left;
    height:75px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.checkout-reset-btn {
    float:left;
    height:34px;
    padding:5px;
    border: solid red;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 25px;
}


.header-cart-title {
    margin: 0px;
    color:white;
    display: inline-block;
    transform: translate(-10px,21px);
}
#arrowback-icon {
    color:white;
    cursor: pointer;
    float:right;
    position:relative;
    top:22px;
    right:5%;
}
.body-cart {
    overflow: hidden;
}
.body-head {
    border:green;
    width:auto;
    text-align: center;
}
#bodyhead-text2 {
    font-weight: 100;
    margin:0;
}
#bodyhead-text1 {
    margin-top:30px;
    margin-bottom:10px;
}
.title-receipt-con{
    text-align: center;
}
.title-receipt {
    margin-left:5%;
    margin-right:5%;
    border:solid purple;
    border-radius: 2rem;;
    display:flex;
    justify-content: space-between;
}

#title-receipt-text1 { margin-left:36px;}
#title-receipt-text3 {margin-right:20px;}
#title-receipt-text2 {margin-left:15%;}
.total-main-con {
    display:flex;
}
.checkout-discount-btn-con {
    width:28%;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
}
.checkout-discount-btn {
    padding:13px;
    border: solid lightblue;
    border-bottom-right-radius: 20px;
    border-top-left-radius:20px;
}
.checkout-discount-btn:active {background-color:lightblue}
.cart-section-test {
    width:100%;
    height:100vh;
    display:none
}
/* ADDON SECTION  */
.hide {display:none;}
.show {display:block;}
/* ADDON SECTION END HERE  */



@media (max-width:445px) {
    .li-con {
        height:auto;
        width: 150px;
        min-width: 150px
    }
    .img-test {
        width:140px;
        height:170px;
    }
    .li-text {
        font-size:15px;
    }
    .add-cart-test {
        font-size:9px;
        margin-left:30px;
        padding:8px;
        bottom:0;
        border-radius: 10px;
    }
}
@media (max-width:390px) {
    .li-con {
        width: 137px;
        min-width: 137px;
    }
    .img-test {
        width:100px;
        height:135px;
    }
    .li-text {
        font-size:14px;
    }
    .add-cart-test {
        font-size:9px;
        margin-left:20px;
        padding:6px;
        bottom:0;
        border-radius: 10px;
    }
}


.parent-test-div {
    overflow:hidden;
    height:100vh;
}
.cart-test-div {
    display:block;
    width:100%;
    height:100vh;
    background-color: red;
}
.content-test-div {
    display:none;
    width:100%;
    height:100vh;
    background-color: blue;
}

.checkout-ul-test-con {padding-left:0px;}
#newdelete-btn-id {
    position:relative;
    top:10px;
    padding-top:10px;
    padding-bottom:10px;
    margin-right:10px;
    margin-left:10px;
    border:red solid;
    border-radius: 10px;
    cursor: pointer;
}
.checkout-li-test-con {
    list-style: none;
    padding:0;
    overflow-x: scroll;
    width:100%;
    height:auto;
    display:flex;
}
.checkout-li-test {
    list-style: none;
    display:flex;
    width:90%;
}
.checkout-ul-test {padding:0px;}
#item-name {width:55%;}
#qty {width:10%;}
.price-con {width:25%;}
#price {
    width:auto;
    float:right;
}
.test-text{
    width: 91%;
    display: flex;
    justify-content: center;
    background-color: red;
    height: 70px;
    align-content: center;
    flex-wrap: wrap;
}
#checkout-delete-test {
    padding:10px;
    margin-top:0px;
    margin-bottom:0px;
}
.seperate-line {
    height:2px;
    width:86%;
    margin-left:30px;
    margin-right:30px;
    background-color: black;
}

.checkout-total-con {
    border:skyblue solid;
    display:block;
}
.checkout-total {
    width:70%;
    display:flex;
}
.checkout-sub-text {font-weight: 300;}
.checkout-total-left {width:68%;}
.checkout-total-right {width:32%;}
.total-text-right {margin-top:10px;}
.checkout-thankyou h4{
    text-align: center;
    font-size: 13px;
    font-weight: 200;
    font-style: italic;
    padding-bottom:20px;
}